.posterContainer{
    width: 11.5rem;
    height: 273px;
    position: relative;
}

.imageConatiner{
    position: relative;
}

.bookmarkIcon{
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
}

.ratingStar{
    display: flex;
    align-items: flex-end;
    gap:0.2rem;
    padding: 1rem 0;
}

.ratingStar > span{
    font-size: 15px;
}

.starIcon{
    color: var(--logoColor);
    font-size: 23px;
}

.filmNameContaienr{
    height: 3rem;
}

.OneCard{
    width: fit-content;
    background-color: var(--hoverLightBlack);
    padding-bottom: 1rem;
    border-radius: 6px;
}

.addIcon{
    font-size: 1.8rem;
}

.watchListButton{
    /* background-color: var(--hoverLightBlack); */
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 1rem;
    border-radius: 4px;
    color: var(--blueColor);
    cursor: pointer;
}

.watchListButton > span{
    color:var(--blueColor);
}

.trailerInfoContainer,
.trailerContainer{
    display: flex;
    align-items: center;
}

.trailerInfoContainer{
    justify-content: space-between;
}

.trailerContainer{
    gap:0.1rem;
}

.descriptionContainer{
    padding:0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
    width: 11.5rem;
    height: 185px;
}

.infoIcon{
    font-size: 22px;
}

@media (max-width: 330px) {
    .posterContainer{
        width: 8.5rem;
    }
    .descriptionContainer{
        width: 8.5rem;
    }
}